<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.base.config.dao.DictMapper">
   	 <!-- 设备基本信息 -->
    <insert id="save">

    </insert>

    <select id="getByPage" resultType="java.util.Map">
        select `value`,label from iot_dict where type = #{type}
    </select>

    <select id="get" resultType="com.iot.device.config.pojo.ReportDataConfig">
    </select>
    <update id="update">

    </update>

    <delete id="delete">
    </delete>
</mapper>




