<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.device.config.dao.CommandConfigMapper">
   	 <!-- 设备基本信息 -->
    <insert id="save">
        insert into iot_device_config_command_config(
          id,
          `name`
        )values(
          #{id},
          #{name }
        )
    </insert>

    <select id="getByPage" resultType="com.iot.device.config.pojo.CommandConfig">
        select
        a.id AS "id" , a.name AS "name"
        from iot_device_config_command_config a
    </select>

    <select id="getAll" resultType="com.iot.device.config.pojo.CommandConfig">
        select
        a.id AS "id" , a.name AS "name"
        from iot_device_config_command_config a
    </select>

    <select id="get" resultType="com.iot.device.config.pojo.CommandConfig">
       select id AS "id",name AS "name"
        from iot_device_config_command_config a
        where a.id = #{id}
    </select>
    <update id="update">
      update iot_device_config_command_config set name=#{name} where id = #{id}
    </update>

    <delete id="delete">
        delete from iot_device_config_command_config where id = #{id}
    </delete>

    <select id="getByDevice" resultType="com.iot.device.config.pojo.CommandConfig">
        select c.id AS "id",c.name AS "name"
        from iot_device a
        LEFT JOIN iot_device_type b on a.deviceTypeId = b.id
        LEFT JOIN iot_device_config_command_config c on b.reportCommandConfigId = c.id
        where a.id = #{id}
    </select>
</mapper>




